
.sub-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-search {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 62px;
    z-index: 99;
    background-color: black;

    input {
        background-color: #2f2f2f;
        color: white;
        border: none;
        font-size: 1.2em;
        padding: 0.5em;
        margin: 0.5em;
        border-radius: 5px;
        width: 70%;
        max-width: 600px;

        &::placeholder { color: grey; }

    }
}

.channel-view {
    margin: 1em auto; 
    padding: 0.2em;
    background-color: darkred;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 5px;
    color: white;
    
    .channel-img {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        position: relative;

        img {
            height: 100%;
            width: 100%;
        }

        button {
            display: none;
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 1.5em;
            z-index: 1;
            border-radius: 5px;
            background-color: #2f2f2f;
            color: white;
            border: none;
            padding: auto 0.4em;
        }
    }

    &:hover {
        .channel-img button { display: block; }
    }

    .channel-info {
        text-align: center;

        * {
            margin: 1em 0.5em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}